/* @use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";

@include textfield.core-styles; */

body {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  width: 65%;
  max-width: 1236px;
  margin: 0 auto;
}

nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  box-shadow: 0px 8px 16px rgba(46, 60, 80, 0.08);
}

.mdc-top-app-bar__section {
  padding: 16px 24px 16px 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
}

.title {
  font-family: 'Philosopher', sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 79px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 50px;
}

.subtitle {
  font-size: 18px;
  margin: 58px 0 0;
}

.mdc-text-field {
  margin: 40px 0;
}

.mdc-tab {
  padding: 0;
  justify-content: left;
  min-width: 30px;
}

.mdc-tab-bar {
  margin: 0 0 48px;
  max-width: 732px;
}

.mdc-tab__text-label {
  font-size: 16px;
  text-transform: none;
}

.cards-keywords-container {
  display: flex;
  justify-content: space-between;
}

.keywords-container {
  width: 100px;
  height: auto;
}

.keywords-title {
  font-size: 16px;
  margin: 0;
}

.card-container {
  width: 860px;
  max-width: 80%;
}

.card {
  min-height: fit-content;
  display: grid;
  min-width: 858px;
  grid-template-areas: 
  "avatar img"
  "title  img"
  "stitle img";
}

.card-avatar-container {
  display: flex;
  grid-area: avatar;
}

.card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 16px 0 0 0;
  grid-area: title;
}

.card-subtitle {
  grid-area: stitle;
}

.card-img {
  grid-area: img;
}

.avatar-button {
  display: flex;
  border: none;
  cursor: pointer;
  background: inherit;
}

.avatar-img {
  width: 32px;
  height: 32px;
  border-radius: 100px;
}

.avatar-name {
  margin: 8px 0 0 10px;
  font-size: 14px;
}

.avatar-date {
  margin: 6px 0 0 0;
  font-size: 14px;
}