
.mdc-flow {
  width: 65%;
  max-width: 1236px;
  margin: 0 auto;
}

.mdc-title {
  font-size: 72px;
}

.mdc-subtitle {
  font-size: 18px;
  margin: 58px 0 0;
}

.mdc-text-field {
  margin: 40px 0;
}

.mdc-tab {
  padding: 0;
  justify-content: left;
  min-width: 30px;
}

.mdc-tab-bar {
  margin: 0 0 48px;
  max-width: 732px;
}

.mdc-tab__text-label {
  font-size: 16px;
  text-transform: none;
}

.mdc-cards-keywords-container {
  display: flex;
  justify-content: space-between;
}

.mdc-keywords-container {
  width: 100px;
  height: auto;
}

.mdc-keywords-title {
  font-size: 16px;
  margin: 0;
}

.mdc-card-container {

}

.mdc-card {
}